{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Playlists</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Mpapp/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'playlist_view' %}">Search Playlist</a></li>
            <li><a href="{% url 'create_playlist' %}">Create Playlist</a></li>
            <li><a href="{% url 'all_playlists' %}">All Playlists</a></li>
            <li><a href="{% url 'login' %}">Login Page</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <div class="playlist-content">
        <div class="playlist-header">
            <h1>All Playlists</h1>
        </div>
            {% for playlist in playlists %}
                <li>
                    <a href="{% url 'view_playlist' playlist.id %}">{{ playlist.name }}</a>
                    <form method="post" action="{% url 'delete_playlist' playlist.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </li>
            {% endfor %}
    </div>
</body>
</html>