{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist Search</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Mpapp/styles.css' %}">
</head>
<body>
    <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'playlist_view' %}">Playlist</a></li>
                <li><a href="{% url 'login' %}">Login Page</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>

            </ul>
    </nav>
    <div class="search-container">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="spotify_link" placeholder="Enter Spotify playlist link">
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>